
.example-card {
    width:100%;
    @media (min-width: 720px) {
    max-width: 240px;
    }
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .container{
      display:flex;
      flex-flow: wrap;
      gap:8px;
      padding:8px;
  }
  img{
      height:300px;
      object-fit: contain;
  }
  ::ng-deep .spin{
     > svg > circle
    {
      stroke:white;
    }
  }