<div class="full-page">
  <div style="display: flex;
  width: 100%;
  
  justify-content: space-between;
  align-items: center;">
    <data-control [field]="$.searchString" style="    flex-grow: 1;
    margin-left: 10px;"></data-control>
    <div>
      <app-number [value]="bottles.totalRows"></app-number> בקבוקים
    </div>
  </div>
  <mat-tab-group class="grow-item tab">
    <mat-tab label="טבלה">
      <data-grid [settings]="bottles" class="grow-item"></data-grid>
    </mat-tab>
    <mat-tab label="כרטיסים">
      <div class="full-page" style="flex-direction: row;">
        <button mat-mini-fab #scrollStart (click)="prevPage(scrollEnd)" [class.hidden]="bottles.page==1"
          style="align-self:center">
          <mat-icon>
            arrow_forward_ios
          </mat-icon>
        </button>
        <mat-card *ngFor="let b of bottles.items" style="min-width: 300px;margin:10px;">
          <div class="full-page">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image">
                <button mat-mini-fab color="none" aria-label="ערוך" (click)="edit(b)">
                  <mat-icon>edit</mat-icon>
                </button>
              </div>
              <mat-card-title>{{b.name}}</mat-card-title>
              <mat-card-subtitle>{{b.manufacturer}} - {{b.country?.name}}</mat-card-subtitle>
            </mat-card-header>

            <div class="grow-item">
              <div class="full-page">
                <div class="grow-item" style="overflow-y: hidden;overflow-x: hidden;">
                  <img mat-card-image src="/api/images/{{b.id}}?{{b.imageReloadVersion}}" alt=""
                    style="max-height: 100%;max-width: 100%;object-fit: contain;margin: 0%;">
                </div>

                <p>
                  {{b.comments}}
                </p>
              </div>
            </div>

          </div>
        </mat-card>
        <button mat-mini-fab #scrollEnd (click)="nextPage(scrollStart)" [class.hidden]="bottles.items.length==0"
          style="align-self:center">
          <mat-icon>
            arrow_back_ios
          </mat-icon>
        </button>

      </div>
    </mat-tab>


  </mat-tab-group>

</div>
<mat-form-field style="display: none;">
  <input matInput>
</mat-form-field>