
<mat-tab-group>
    <mat-tab label="מדינות"> 
        <data-grid [settings]="countries"></data-grid>
    </mat-tab>
    <mat-tab label="סוגים"> 
        <data-grid [settings]="types"></data-grid>
    </mat-tab>
    <mat-tab label="סוגי בקבוק"> 
        <data-grid [settings]="bottleType"></data-grid>
    </mat-tab>
    <mat-tab label="צורה"> 
        <data-grid [settings]="shapes"></data-grid>
    </mat-tab>
    <mat-tab label="מצב"> 
        <data-grid [settings]="states"></data-grid>
    </mat-tab>
    <mat-tab label="נמצא ב"> 
        <data-grid [settings]="locations"></data-grid>
    </mat-tab>
  </mat-tab-group>

